<div class="row my-5 py-5">
    <div class="col-lg-4 col-md-8 col-sm-12 col-12 mx-auto">
        <div class="card shadow rounded">
            <div class="card-body">
                <h3 class="text-center m-2 py-2">Change Password</h3>
                <form action="/changepassword?_method=PUT" method="POST" class="m-2 p-2">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" name="oldpassword" placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="newpassword" placeholder="New Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>